a {
  color: inherit;
}

button,
input,
select {
  font: inherit;
}

html[data-theme] a,
html[data-theme] strong,
html[data-theme] h1,
html[data-theme] h2,
html[data-theme] h3,
html[data-theme] h4,
html[data-theme] h5,
html[data-theme] h6 {
  color: inherit;
}
